.card{
    position: fixed;
    top:0;
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    &__bgc{
        position: absolute;
        top: 0;
        width:100%;
        height: 100%;
        background-color: black;
        opacity: 0.65;
    }
    &__content{
        position: absolute;
        top:25%;
        left: 25%;
        width: 50%;
        height: 50%;
        display: flex;
        flex-direction: column;
        z-index: 1;
    }
    &__bookcard{
        width: 100%;
        display: flex;
    }
    &__form{
        width: 50%;
        &-header{

        }
        &-container{

            &-txt{

            }
            &-label{

            }
            &-input{

            }
            &-select{

                &-option{

                }
            }
        }
        &-save{

            &-btn{
                background: white;
                color: black;
                cursor: pointer;
                padding: 5px;
                border-radius: 15%;
                border: none;
            }
            &-btn:hover{
                background: rgb(0, 205, 246);
            }
        }
    }
    &__data{
        width: 50%;
        &-date{

            &-txt{
    
            }
        }
        &-edit{
    
            &-img{
                width:20px;
                filter: invert(1);
                cursor: pointer;
            }
        }
        &-delete{
            
            &-img{
                width:26px;
                filter: invert(1);
                cursor: pointer;
            }
        }
    }
}