.form{
    width:50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    font-size: 2rem;
    &__header{

    }
    &__container{
        width: 80%;
        display: flex;
        &-txt{
            padding-left: 20px;
            width:60%;
        }
        &-input{
            padding-left: 5px;
            width: 40%;
        }
        &-input:focus, &-input:hover{
            background-color: rgb(0, 205, 246);
        }
        &-select{
            width: 40%;
            &-option{

            }
        }

    }
    &__btn{
        padding: 5px;
        width: 30%;
        height: 5rem;
        border-radius: 10px;
        font-size: 1.3rem;
        text-transform: uppercase;
        font-weight: 600;
    }
    &__btn:hover{
        color: white;
        background-color:rgb(0, 205, 246);
    }
}