.form{
    width:50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    font-size: 2rem;
    &__header{

    }
    &__container{
        width: 80%;
        display: flex;
        &-txt{
            padding-left: 20px;
            width:60%;
        }
        &-input{
            width: 40%;
        }
        &-select{
            width: 40%;
            &-option{

            }
        }

    }
    &__btn{
        width: 25%;
        height: 5rem;
        
    }
}