.auth-form{
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;

    &__form{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__title{
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 10px;
    }
    &__login-container{
        width: 100%;
        padding-top: 50px;
        display: flex;
        justify-content: center;
        gap: 20px;
    }
    &__labels-container{
        display: flex;
        gap: 20px;
        align-items: center;
    }
    &__input-container{

        &-txt{
            padding-right: 10px;
        }
        &-input{
            height: 30px;
            padding-left: 10px;
        }
    }
    &__btn{
        text-transform: uppercase;
        font-weight: 600;
        padding: 10px 20px 10px 20px;
    }
    &__error{

    }
}