* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
}

button {
  cursor: pointer;
}

.auth-form {
  width: 100%;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-weight: 600;
}
.auth-form__form {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.auth-form__title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px;
}
.auth-form__login-container {
  width: 100%;
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}
.auth-form__labels-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.auth-form__input-container-txt {
  padding-right: 10px;
}
.auth-form__input-container-input {
  height: 30px;
  padding-left: 10px;
}
.auth-form__btn {
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px 20px 10px 20px;
}
.navigation {
  width: 100%;
  padding: 30px;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #363B3F;
}
.navigation__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
}
.navigation__list--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.navigation__list-link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}
.navigation__list-link-container--logout {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navigation__list-link-container-link {
  text-decoration: none;
  color: #A1A3A5;
}
.navigation__list-link-container-link:hover {
  color: bisque;
}
.navigation__list-btn {
  background-color: bisque;
  border-radius: 5px;
  padding: 10px;
  text-transform: uppercase;
  font-weight: 600;
  color: #363B3F;
  border: 1px solid #363B3F;
}
.navigation__list-btn--register {
  margin-right: 10px;
}
.navigation__list-btn:hover {
  background-color: rgb(85, 92, 97);
  color: bisque;
}

.time {
  width: 100%;
  padding-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.form {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  font-size: 2rem;
}
.form__container {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.form__container-txt {
  padding-left: 20px;
  width: 60%;
}
.form__container-input {
  width: 40%;
}
.form__container-select {
  width: 40%;
}
.form__btn {
  width: 25%;
  height: 5rem;
}

.table {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
}
.table__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.table__header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.table__table {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.table__table-thead {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.table__table-thead-headers {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  padding: 20px 20px 0px 20px;
}
.table__table-thead-headers-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.table__table-thead-headers-header-txt {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #555;
  font-size: 1.6rem;
}
.table__table-thead-headers-header-icon {
  width: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.table__table-tbody {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.table__table-tbody-card {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
  background: #fff;
  color: #333;
  padding: 20px;
  border-radius: 4px;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.table__table-tbody-card-txt {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #555;
  font-size: 1.6rem;
}
.table__table-tbody-card-edit {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-filter: invert(40%);
          filter: invert(40%);
}
.table__table-tbody-card-edit-link {
  width: 100%;
}
.table__table-tbody-card-edit-link-img {
  width: 20px;
}
.table__table-tbody-card:hover {
  -webkit-transform: rotate(3deg);
          transform: rotate(3deg);
}

.books {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}
.books__forms {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}
.books__table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: whitesmoke;
}
.card__bgc {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
}
.card__content {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1;
}
.card__bookcard {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.card__form {
  width: 50%;
}
.card__data {
  width: 50%;
}
.card__data-edit-img {
  width: 20px;
  cursor: pointer;
}
.card__data-delete-img {
  width: 26px;
  cursor: pointer;
}

.tasks {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgb(233, 219, 176);
}
.form-task {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: whitesmoke;
}
.form-task__bgc {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
}
.form-task__content {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1;
}/*# sourceMappingURL=styles.css.map */