.tasks{
    margin: 0px 20px 0px 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(19, 25, 30);
    &__subtasks{

    }
    &__tasks{
    }
    &__infromations{
        padding:0px 20px 0px 20px;
        margin-bottom: 20px;
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 53px;
        background-color: rgb(43, 49, 53);
        border-radius: 20px;
        &-header{
            width: 50%;
            letter-spacing: 2px;
        }
        &-link{
            margin-left: 60px;
            display: flex;
            align-items: center;
            text-decoration: none;
            
            &-txt{
                padding-left: 10px;
                color: white;
            }
            &-img{
                width: 30px;
                filter: invert(1);
            }
            &-img:hover{
                width: 33px;
            }
        }
    }
}