.tasks{
    margin-left: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(19, 25, 30);
    &__subtasks{

    }

    &__tasks{
        
    }

    &__infromations{
        width: 100%;
        display: flex;
        gap: 30px;
        height: 33px;
        &-header{

        }
        &-link{

            &-img{
                width: 30px;
                filter: invert(1);
            }
            &-img:hover{
                width: 33px;
            }
        }
    }
    
}